@font-face {
	font-family: 'boxicons';
	src: url(../../assets/fonts/boxicons.eot?h=4291ede3cba1f59578d0b7ef6a381a12) format('embedded-opentype'),
	url(../../assets/fonts/boxicons.eot?h=4291ede3cba1f59578d0b7ef6a381a12) format('embedded-opentype'),
	url(../../assets/fonts/boxicons.woff2?h=4291ede3cba1f59578d0b7ef6a381a12) format('woff2'),
	url(../../assets/fonts/boxicons.woff?h=4291ede3cba1f59578d0b7ef6a381a12) format('woff'),
	url(../../assets/fonts/boxicons.ttf?h=4291ede3cba1f59578d0b7ef6a381a12) format('truetype'),
	url(../../assets/fonts/boxicons.svg?h=4291ede3cba1f59578d0b7ef6a381a12) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}