@font-face {
	font-family: 'swiper-icons';
	src: url(../../assets/fonts/swiper-icons.woff?h=ae3e4450d84fca75373fb66523e85101) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}